NODE_ENV=development
PORT=3333
MONGODB_URI=mongodb://127.0.0.1:27017/nova_commerce
JWT_SECRET=troque-por-uma-chave-aleatoria-com-pelo-menos-32-caracteres
MERCADO_PAGO_ACCESS_TOKEN=TEST-seu-access-token-de-teste
MERCADO_PAGO_WEBHOOK_SECRET=sua-assinatura-secreta-de-webhook
MERCADO_PAGO_NOTIFICATION_URL=https://seu-backend.com/api/webhooks/mercadopago
ADMIN_EMAIL=admin@novacommerce.com.br
ADMIN_PASSWORD=@Gej151207
PUBLIC_API_URL=http://localhost:3333
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
WEB_URL=http://localhost:5173,http://192.168.1.102:5173
